PORT=4000

# From https://my.telegram.org -> API development tools
TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=your_api_hash_here

DATABASE_URL=DATABASE_URL=postgres://postgres:postgres@db:5432/telegram_stremio

DATABASE_SSL_CA_PATH=./ca.pem

# Least severe log level to show: verbose | debug | log | warn | error.
LOG_LEVEL=debug

# Serves interactive API docs (Swagger UI) at /docs when set to "true".
SWAGGER_ENABLED=true